#products{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#product{
    border: 1px solid black;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    background-color: bisque;
    width: 30%;
}
#product img{
    height: 250px;
}
#navbar{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
th{
    width: 20%;
    text-align: center;
}